body {
	background: url(../img/background-body.jpg);
	padding-top: 60px;
}
.navbar-fixed-top .navbar-inner {
	padding: 0;
}

.hero-unit {
	background-color: #fff;
}

.page-header {
	border-bottom-color: #ddd;
}